* {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
html, body, #wrapper {
    width: 100%;
    min-height: 100%;
}

header {
    padding: 1%;
    background-color: #393e46;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 20%);
    /* text-align: center; */
    margin-bottom: 1%;
}
.heading {
    font-size: 50px;
    font-family: 'Mukta', sans-serif;
    letter-spacing: 1px;
    background: linear-gradient(to right, #ff99ff, blue 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    width: 50%;
}
.shopping-cart {
    float: right;
    margin-top: -5%;
}
/* @media screen and (min-device-width: 450px) and (max-device-width: 550px)  {
    .heading {
        width: 30%;
    }
    .shopping-cart {
        margin-top: -5%;
    }
} */

#app main {
    margin-left: 12%;
}

#subject-div {
    border: solid purple 3px;
    border-radius: 10%;
    width: 20%;
    text-align: left;
    padding: 1%;
    line-height: 200%;
    font-size: 15px;
    padding-bottom: 3%;
    margin: 3%;
    float:left; 
    display:inline
}
#lesson-list {
    list-style-type: none;

}

#cart-btn {
    float: right;
    padding: 2%;
    font-size: 15px;
    background: linear-gradient(to right, #6d7cff, #ff99ff);
    border: 0;
    /* width: 100%; */
    font-weight: bold;
}